/*/*init code*/
body, p, h1, h2, h3, h4, h5, h6,ul,li,dt,img,a,input, dl, dd, form { margin:0;padding: 0;}
html{height: 100%;width:100%; position:relative; max-width:750px; margin:0 auto; }
body { font-family:"Microsoft YaHei", arial;font-size:14px;height: 100%;background-color: #fff;}
ul, ol, li { list-style:none;}
input,label { vertical-align:middle;} 
img,input,a,button,select,option { border:none; outline:none; }
a { text-decoration:none;color: #000000;}
a:hover { text-decoration:none;}
a:visited { text-decoration:none;}
h1,h2,h3,h4,h5,h6,var,em,strong{font-weight: normal;font-style: normal;}

/* clear */
body:before, .fixed:before, .clearfix:before, .cf:before, #header:before, #header > .inner:before, #main:before, #main > .inner:before, #footer:before, #footer > .inner:before { content: ''; display: table }
body:after, .fixed:after, .clearfix:after, .cf:after, #header:after, #header > .inner:after, #main:after, #main > .inner:after, #footer:after, #footer > .inner:after { content: ''; display: table; clear: both }

.fixed, .clearfix, .cf, #header, #main, #footer { *zoom: 1 }

.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }


/* common style loading*/
.loading,.error{/*display:none;*/ position: absolute;height: 60px;width: 60px;margin-left: -30px;margin-top: -30px;left: 50%;top: 50%;z-index: 100;}
.loading img{ width: 60px; height: 60px;}
.mark{/*display:none; */position: fixed;width: 100%;height: 100%;left:0;top:0;background-color: rgba(0,0,0,.3);z-index: 99;}
.error{ display:none; width: 200px; height: 200px; margin-left: -100px; margin-top: -100px; color: #fff; background-color: rgba(0,0,0,.5);}
.error img{ width: 60px; height: 60px; display: block; margin: 40px auto 20px}
.error p{ text-align: center; margin: 0 20px;}

#wrapper {
	position:absolute; z-index:1;
	top:0; bottom:0; 
	width:100%;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	position: relative;;
	width:100%;
	text-align:left;
}
#scroller a {
	display: block;
	padding: 10px auto;
	border-bottom: 1px solid #ccc;
	width: 100%;
	position: relative;
}

#scroller li {
	margin:14px 2%;；
}
.left_list{ width: 25%; float: left; height: auto; }
.left_list img{ width: 100%; height: auto; vertical-align: bottom; max-height: 142px; min-height: 56px; }
.right_list{ margin-left: 4%; float: left; width: 65%; position: relative;  } 
.right_list p{ line-height: 18px; height: 36px; color: #333; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;  }
.right_list span{ display: block; position: absolute; right: 0; bottom:0; font-size: 12px; color: #999; }
#myFrame {
	position:absolute;
	top:0; left:0;
}



/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	color:#999;
	display: none;
}
#pullDown img, #pullUp img{ vertical-align: top;}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
/*	background:url(pull-icon@2x.png) 0 0 no-repeat;*/
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


/*详情页样式 */
.content{ margin:0 6%; position: relative; }
.titre h3{ font-size: 16px; color: #252525; margin:20px 0; line-height: 24px; }
.titre span{ display: block; margin:0 0 14px 0; color: #999; float: right;}
.thumb{ width: 100%; /*max-height: 356px;*/ height: auto;}
.thumb img{ width: 100%; height: auto; display: block;}
.context{ line-height: 22px; font-size: 14px; margin: 20px 0; }
.context p{ text-indent: 28px; margin: 0 0 10px 0}
.context img{margin: 0 0 10px 0}
.blanc{ height: 10px; width: 100%;}